div.projectCard {
    padding-bottom: 5px;
}
div.projectLinks {
    bottom: 15px;
    position: absolute;
    height: 38px;
    width: 100%;
    left: 0px;
    padding: 0 15px 0 15px;
}
.projectCard p.card-text {
    padding-bottom: 5px;
}
.linkLeft{
    float: left;
    margin-right: 5px;
}
.link-dark {
    float: right;
    bottom: 0px;
    position: absolute;
    right: 10px;
}
div.card-footer {
    background-color: inherit;
    border-top: none;
}
#projects_2 {
    padding-top: 20px;
}