@media screen and (min-width: 992px) {
    div.projectCard.width-33 {
        width: 33.33%;
    }
    div.projectCard.width-100 {
        width: 100%;
    }
}
div.moava_container a {
    display: inline;
}
div.moava_container .list-group.text-start, div.moava_container .backLink {
    padding-top: 10px;
}
div.projectCard {
    padding-bottom: 5px;
}
div.projectLinks {
    bottom: 15px;
    position: absolute;
    height: 38px;
    width: 100%;
    left: 0px;
    padding: 0 15px 0 15px;
}
.projectCard p.card-text {
    padding-bottom: 5px;
}
.linkLeft{
    float: left;
    margin-right: 5px;
}
.link-dark {
    float: right;
    bottom: 0px;
    position: absolute;
    right: 10px;
}
div.card-footer {
    background-color: inherit;
    border-top: none;
}
#projects_2 {
    padding-top: 20px;
}