.row .cardSmall {
    display: none;
}
@media (max-width: 576px) {
    .row .cardSmall {
        display: flex;
    }
    .row .cardBig {
        display: none;
    }
}
.img-fluid {
    max-height: 400px;
    float: left;
    border-top-left-radius: 0.375rem!important;
}
.introCard p.card-text {
    padding-bottom: 5px;
}
.cardBig .card-text a, .cardSmall .card-text a {
    display: inline;
}