@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --transition: all 400ms ease;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
html {
  scroll-behavior: smooth;
}
section>span, .container>span {
  height: 60px;
  display: block;
  position: relative;
  background: transparent;
}